@font-face { font-family: "grotesk"; font-weight: 500; src: url(/fonts/claydemo/Grotesk-Medium.woff2); }
@font-face { font-family: "grotesk"; font-weight: 600; src: url(/fonts/claydemo/Grotesk-SemiBold.woff2); }
@font-face { font-family: "grotesknarrow"; font-weight: 600; src: url(/fonts/claydemo/GroteskNarrow-SemiBold.woff2); }