.direclist{
    list-style-type: decimal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
            flex-flow: wrap;
}

.direclist > li{
    text-align: justify;
    padding-right: 5%;
}

.prepa{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
}

.direction-vdivider{
    border-right: outset black;
    padding-right: 5%;
    height: inherit;
    margin: auto;
}

.prepa > h4{
    text-align: center;
    padding-top: 0px;
    margin-right: 5%;
    color: #ec473b;
}

.prepa > .direcctions-nutrition{
    text-align: right;
}

.direcctions-divider {
    border-top: 1px solid #767676;
    margin: 0 0 20px;
    width: 100%;
  }

button.Share-button {
    
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background: gray;
    text-align:center;
    font-size: large;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

button.Share-button:hover {
    color:#000000;
    background-color:#FFFFFF;
}

.direcctions-nutrition > p{
    text-align: justify;
}

/* @media all and (max-width:30em){
     button.Share-button{
        display:block;
        margin:0.4em auto;
     }
    } */