.recipe{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.recipe-status{
    width: 50%;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.recipe-status > p{
    text-align: justify;
    padding-right: 4%;
}

.recipe-rating{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.recipe-rating > h2{
    color: #ff7e1a;
}

.recipe-status > h2{
    text-align: center;
}

.recipe-info{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.recipe-info > h4{
    width: 33.33%;
    color: #ff7e1a;
}

.recipe-info > h3{
    text-align: center;
}

.recipe-vdivider{
    padding-right: 5%;
    padding-left: 5%;
    height: inherit;
  }

.recipe-imagew{
    width: 50%;
}

.recipe-image{
    width: 100%;
    height: auto;
}

.recipe-images-other{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

.recipe-images{
    width: 20%;
    height: 20%;
}