.recipe{
    display: flex;
}

.recipe-status{
    width: 50%;
    flex-wrap: nowrap;
}

.recipe-status > p{
    text-align: justify;
    padding-right: 4%;
}

.recipe-rating{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.recipe-rating > h2{
    color: #ff7e1a;
}

.recipe-status > h2{
    text-align: center;
}

.recipe-info{
    display: flex;
    flex-wrap: wrap;
}
.recipe-info > h4{
    width: 33.33%;
    color: #ff7e1a;
}

.recipe-info > h3{
    text-align: center;
}

.recipe-vdivider{
    padding-right: 5%;
    padding-left: 5%;
    height: inherit;
  }

.recipe-imagew{
    width: 50%;
}

.recipe-image{
    width: 100%;
    height: auto;
}

.recipe-images-other{
    display: flex;
    flex-wrap: nowrap;
}

.recipe-images{
    width: 20%;
    height: 20%;
}